<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327357602024-s7nhmmvja38hma87krbi8vmhqqpvnbvl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327357602024-s7nhmmvja38hma87krbi8vmhqqpvnbvl</string>
	<key>API_KEY</key>
	<string>AIzaSyCCxMB2h0ZshV4VAe6Nt361hvKJqQQIAss</string>
	<key>GCM_SENDER_ID</key>
	<string>327357602024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.perudo</string>
	<key>PROJECT_ID</key>
	<string>perudo-5cd87</string>
	<key>STORAGE_BUCKET</key>
	<string>perudo-5cd87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327357602024:ios:870842c0888a470caad15d</string>
</dict>
</plist>